@charset "utf-8";
/* CSS Document */
button {
	background-color: #020202 ;
	color: #b5e853 ;
	border-radius: 12px;
}

button:hover {
	background-color: #b5e853;
	color: #020202;
}

button:focus {
  outline: none;
}

fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
