a::selection, p::selection {
  background: #b5e853; /* WebKit/Blink Browsers */
  color: #020202;
}
a::-moz-selection, p::-moz-selection {
  background: #b5e853; /* Gecko Browsers */
  color: #020202;
}
